#user{background-color:#4EB1BA;width:160px;float:left;color:white;}
#search_pos{background-color:#4EB1BA;color:white;width:400px;float:left;margin-top:0px;}
#main{clear:left;}
#purchase_order_list{float:left;margin-left:60px;background-color:white;width:400px;clear:right;}
#info{float:left;background-color:#4EB1BA;;}
#purchasing_history{float:right; background-color:#4EB1BA;color:white;}
#products_reports{}
#products_ordered{}
table a{ color:green; text-decoration:none;}
#history{clear:both;width:100%;background-color:#4EB1BA;margin-top: 20px;color:white;}
